USE [master]
GO
/****** Object:  Database [FacultySystem]    Script Date: 2/14/2023 4:43:36 PM ******/
CREATE DATABASE [FacultySystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacultySystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\FacultySystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FacultySystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\FacultySystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacultySystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacultySystem]
GO
/****** Object:  Table [dbo].[Assess]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assess](
	[ID] [int] NOT NULL,
	[CourseID] [int] NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bylaw]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bylaw](
	[ID] [int] NOT NULL,
	[name] [nvarchar](20) NULL,
	[facultyID] [int] NULL,
	[code] [int] NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[ID] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[facultyID] [int] NULL,
	[levelID] [int] NULL,
	[departmentID] [int] NULL,
	[maxDeg] [int] NULL,
	[minDeg] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[degree]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[degree](
	[ID] [int] NOT NULL,
	[type] [nvarchar](20) NULL,
	[BylawID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[ID] [int] NOT NULL,
	[type] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faculty]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faculty](
	[ID] [int] NOT NULL,
	[name] [nvarchar](20) NULL,
	[rank] [int] NULL,
	[type] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[level]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[level](
	[ID] [int] NOT NULL,
	[name] [nvarchar](20) NULL,
	[degID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[semester]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[semester](
	[ID] [int] NOT NULL,
	[name] [nvarchar](20) NULL,
	[totalHours] [int] NULL,
	[levelID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[ID] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[type] [nvarchar](20) NULL,
	[facultyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[ID] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[NationalNumber] [int] NULL,
	[facultyID] [int] NULL,
	[levelID] [int] NULL,
	[departmentID] [int] NULL,
	[birthDate] [date] NULL,
	[age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[university]    Script Date: 2/14/2023 4:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[university](
	[ID] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[City] [nvarchar](20) NULL,
	[street] [nvarchar](20) NULL,
	[rank] [int] NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assess]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[course] ([ID])
GO
ALTER TABLE [dbo].[Assess]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[course] ([ID])
GO
ALTER TABLE [dbo].[Bylaw]  WITH CHECK ADD FOREIGN KEY([facultyID])
REFERENCES [dbo].[faculty] ([ID])
GO
ALTER TABLE [dbo].[Bylaw]  WITH CHECK ADD FOREIGN KEY([facultyID])
REFERENCES [dbo].[faculty] ([ID])
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD FOREIGN KEY([departmentID])
REFERENCES [dbo].[Department] ([ID])
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD FOREIGN KEY([departmentID])
REFERENCES [dbo].[Department] ([ID])
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD FOREIGN KEY([facultyID])
REFERENCES [dbo].[faculty] ([ID])
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD FOREIGN KEY([facultyID])
REFERENCES [dbo].[faculty] ([ID])
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD FOREIGN KEY([levelID])
REFERENCES [dbo].[level] ([ID])
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD FOREIGN KEY([levelID])
REFERENCES [dbo].[level] ([ID])
GO
ALTER TABLE [dbo].[degree]  WITH CHECK ADD FOREIGN KEY([BylawID])
REFERENCES [dbo].[Bylaw] ([ID])
GO
ALTER TABLE [dbo].[degree]  WITH CHECK ADD FOREIGN KEY([BylawID])
REFERENCES [dbo].[Bylaw] ([ID])
GO
ALTER TABLE [dbo].[level]  WITH CHECK ADD FOREIGN KEY([degID])
REFERENCES [dbo].[degree] ([ID])
GO
ALTER TABLE [dbo].[level]  WITH CHECK ADD FOREIGN KEY([degID])
REFERENCES [dbo].[degree] ([ID])
GO
ALTER TABLE [dbo].[semester]  WITH CHECK ADD FOREIGN KEY([levelID])
REFERENCES [dbo].[level] ([ID])
GO
ALTER TABLE [dbo].[semester]  WITH CHECK ADD FOREIGN KEY([levelID])
REFERENCES [dbo].[level] ([ID])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([facultyID])
REFERENCES [dbo].[faculty] ([ID])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([facultyID])
REFERENCES [dbo].[faculty] ([ID])
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD FOREIGN KEY([departmentID])
REFERENCES [dbo].[Department] ([ID])
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD FOREIGN KEY([departmentID])
REFERENCES [dbo].[Department] ([ID])
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD FOREIGN KEY([facultyID])
REFERENCES [dbo].[faculty] ([ID])
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD FOREIGN KEY([facultyID])
REFERENCES [dbo].[faculty] ([ID])
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD FOREIGN KEY([levelID])
REFERENCES [dbo].[level] ([ID])
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD FOREIGN KEY([levelID])
REFERENCES [dbo].[level] ([ID])
GO
USE [master]
GO
